<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Kyla McDonald's Homepage</title>
</head>
<body>
   <h1>Kyla McDonald</h1>
   <div>
       <ul>
           <li>
                <a href="/about">About</a>
           </li>
           <li>
                <a href="/works">Works</a>
           </li>
       </ul>
   </div>
</body>
<footer>built with love by Tichu00</footer>
</html>