<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>About Kyla McDonald</title>
</head>
<body>
    <h1>Curatorial work</h1>
    <div>
        <ul>
            <li>
                September 2018 <br>
                <i>
                    Niki de Saint Phalle: Here Everything is Possible
                </i><br>
                Beaux-Art Mons, Belgium
            </li>
            <li>
                April 2018<br>
                <i>
                    Oliver Osborne: Bonnie
                </i><br>
                Bonner Kunstverein, Bonn
            </li>
            <li>
                April 2018<br>
                <i>
                    Hayley Tompkins: Stick crystals to paintings
                </i><br>
                Bonner Kunstverein, Bonn
            </li>
            
        </ul>
    </div>
    <div>
        <a href="/">Return to the Homepage</a>
    </div>
</body>
</html>